.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  /* grid-gap: 10px; */
  width: 100vw;
  height: 100vh;
}
.image {
  background-color: teal;
  grid-area: 2 / 2 / 12 / 11;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}
.content {
  background-color: #fff;
  grid-area: 5 / 8 / 10 / 12;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: #474545;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin: auto;
}
.content > div {
  padding: 0.8em;
  margin: auto;
}
.content p {
  font-size: 18px;
}
.content a {
  text-decoration: underline;
}
.about-me {
  background-image: url("../../static/lg.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.Red {
  background-color: #f5e2e2;
}
.Blue {
  background-color: #e2e2fd;
}
.Yellow {
  background-color: #fff7ee;
}
.Green {
  background-color: #e0f7ef;
}

@media only screen and (min-width: 341px) and (max-width: 767px) {
  .image {
    grid-area: 1 / 1 / 13 / 13;
  }
  .content {
    grid-area: 10 / 3 / 13 / 11;
    font-size: 24px;
    margin: 0;
  }
  .content > div {
    padding: 0.4em;
  }
  .content p {
    font-size: 16px;
  }

  .about-me{
    background-image: url("../../static/md.jpg");
  }
}

@media (min-width:320px) {

}